<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>TodoLists</title>

    </head>
    <body>


        <div id="items"></div>

        <button id="btn">Show Lists</button>
        <button id="create">create</button>
        <div id="lists"></div>

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.tmpl.min.js' %}"></script>
        <script src="{% static 'js/printing_list.js' %}"></script>


    </body>
</html>