<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

    a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
</style>

</head>

<body style="background-color:#ccffcc">

<div class="container">
  <h2>To do Home</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>List items</th>
        <th>Created date</th>

      </tr>
    </thead>
    <tbody>
     {% for i in list_items %}
       <tr>
           <td><a href="{{i.id}}">{{i.name}}</a>&nbsp;</td>
           <td>{{i.createddate}}</td>
       </tr>

    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
